<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <th:block th:fragment="headcontent">
        <link th:href="@{main.css}" href="../static/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li>
                <a href="/module/modulbeauftragter">Module bearbeiten</a>
            </li>
            <li>
                <a href="/module/administrator">Anträge</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">

    <table class="col-12">
        <thead>
        <tr>
            <th>Antragsdatum</th>
            <th>Antragssteller</th>
            <th>Details</th>
            <th style="float: right">Antrag ablehnen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${allAntraege.size() == 0}">
            <td>Es liegen keine Anträge vor!</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="antrag : ${allAntraege}">
            <td th:text="${antrag.getDatumErstellung().format(formatter)}">Erstellungsdatum</td>
            <td>
                <span th:text="${antrag.getAntragsteller()}">Beauftragter</span>
            </td>
            <th>
                <span th:if="${antrag.getModulId() == null}">
                    <a th:href="@{'/module/kreationsAntragsDetails/' + ${antrag.getId()}}">
                        Zum Antrag
                    </a>
                </span>
                <span th:unless="${antrag.getModulId() == null}">
                    <a th:href="@{'/module/modifikationsAntragsdetails/' + ${antrag.getId()}}">
                        Zum Antrag
                    </a>
                </span>
            </th>
            <td style="float: right">
                <form action="#" th:action="@{'/module/deleteAntrag'}" method="post" th:id="'formID'+${antrag.getId()}">
                    <input type="hidden" name="antragID" th:value="${antrag.getId()}">
                    <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#ModalDelete'+${antrag.getId()}">
                        Ablehnen
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal für die sichere Bestätigung einer Antragsablehnung -->
    <div class="modal fade"
         th:id="'ModalDelete'+${antrag.getId()}"
         tabindex="-1"
         role="dialog"
         aria-hidden="true"
         th:each="antrag : ${allAntraege}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Modul von</span>
                        <span th:text="${antrag.getAntragsteller()}">Antragssteller</span>
                        <span>ablehnen.</span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Möchten Sie den Antrag wirklich ablehnen/löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" th:form="'formID'+${antrag.getId()}" class="btn btn-primary mx-1">
                        Fortfahren
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
