<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <th:block th:fragment="headcontent">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            #pdf-button {
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
            }
        </style>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            style="width: 100%;
                            border-radius: 0;
                            text-align: left;
                            background: transparent;
                            color: dimgray;
                            border: none"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Semesterauswahl
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a th:each="semester: ${nextSemesters}"
                           th:text="${semester}"
                           th:href="@{'/module/semester/' + ${semester}}"
                           style="background: white; color: dimgray" class="dropdown-item">Semester</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li th:if="${account}">
                <div th:each="role: ${account.getRoles()}">
                    <div th:switch="${role}">
                        <a th:case="'orga'" href="/module/modulbeauftragter">Module bearbeiten</a>
                        <div th:case="'sekretariat'">
                            <a href="/module/modulbeauftragter">Module bearbeiten</a>
                            <a href="/module/administrator">Anträge</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
<div style="display: inline-flex; width: 100%">
    <form class="form-group" method="GET" th:action="@{/module/search}" style="width: 80%">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary" style="font-size: small">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                         style="fill: white">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </button>
            </div>
            <input name="searchField" class="form-control" placeholder="Nach Modulen suchen ..." type="search"
                   id="searchField">
        </div>
    </form>

    <form method="GET" th:action="@{/module/pdf}" style="margin-left: 2%; width: 18%">
        <button type="submit" id="pdf-button">
            <i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i>
        </button>
    </form>
</div>


    <div th:each="category : ${allCategories}">
        <p>
            <a class="btn btn-primary"
               style="font-weight: bold;
               font-size: larger;
               border:none;
               background-color: transparent;
               color: dodgerblue"
               data-toggle="collapse"
               th:href="'#' + ${category}"
               role="button"
               aria-expanded="false"
               th:attr="aria-controls=${category}">
                <span th:text="${category.toReadable()}">Modulkategorien</span>
            </a>
        </p>
        <div class="collapse" th:id="${category}">
            <div class="card card-body pt-0" style="border: none">
                <ul style="font-size: large; list-style-type: none">
                    <li th:each="modul : ${allModules}">
                        <div th:if="${modul.getModulkategorie()} == ${category}">
                            <span style="width: min-content"
                                  class="badge badge-dark mr-2"
                                  th:text="${modul.getGesamtLeistungspunkte()}">CP</span>
                            <a th:href="@{'/module/moduldetails/' + ${modul.getId()}}"
                               th:text="${modul.getTitelDeutsch()}">
                                Modulname
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>