<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <th:block th:fragment="headcontent">

        <!-- Links, Skripts, Styles hier einfügen! -->
        <link th:href="@{main.css}" href="../static/main.css" rel="stylesheet">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li class="active">
                <form action="" method="GET">
                    <select class="browser-default custom-select" name="semester" onchange="this.form.submit()">
                        <option value="WS/SS" name="WS/SS">WS/SS</option>
                        <option value="WS" name="WS">WS</option>
                        <option value="SS" name="SS">SS</option>
                    </select>
                </form>
            </li>
            <li>
                <a href="#">Übersicht</a>
            </li>
            <li>
                <a href="#">Meine Module</a>
            </li>
            <li>
                <a href="#">Anträge</a>
            </li>
        </ul>

    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->

    <form method="POST" class="form-group">
        <input class="form-control" placeholder="Suche" type="search">
    </form>
    <!--    <div th:remove="all-but-first">
            <div th:each="module : ${modules}" th:object="${module}">
                <div th:each="category : *{categorys}" th:object="${category}">
                    <div>
                        <h3 th:text="*{title}">Titel</h3>
                        <p th:text="*{content}"></p>
                    </div>
                </div>
            </div>
        </div>-->
    <div>
        <div>
            <div>
                <input type="checkbox" class="read-more-state" id="post-1">
                <a href="#" style="font-weight: bold;">
                    Programmierung (früher: Grundlagen der Softwareentwicklung und Programmierung)
                </a>
                <p class="read-more-wrap">
                    <span class="read-more-target">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi
                    lorem egestas vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue
                    eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                    ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec
                    vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
                    pulvinar nibh tempor porta.
                    </span></p>
                <label for="post-1" class="read-more-trigger"></label>
            </div>
        </div>
        <div>
            <div>
                <input type="checkbox" class="read-more-state" id="post-2">
                <a href="#" style="font-weight: bold;">
                    Programmierung (früher: Grundlagen der Softwareentwicklung und Programmierung)
                </a>
                <p class="read-more-wrap">
                    <span class="read-more-target">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi
                    lorem egestas vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue
                    eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                    ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec
                    vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
                    pulvinar nibh tempor porta.
                    </span></p>
                <label for="post-2" class="read-more-trigger"></label>
            </div>
        </div>
        <div>
            <div class="border">
                <input type="checkbox" class="read-more-state" id="post-3"/>
                <a href="#" style="font-weight: bold;">
                    Programmierung (früher: Grundlagen der Softwareentwicklung und Programmierung)
                </a>
                <p class="read-more-wrap">
                    <span class="read-more-target">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi
                    lorem egestas vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue
                    eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                    ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec
                    vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
                    pulvinar nibh tempor porta.
                    </span></p>
                <label for="post-3" class="read-more-trigger"></label>
            </div>
        </div>
    </div>
</main>
</body>
</html>