<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Modulerstellung</title>
    <th:block th:fragment="headcontent">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li th:if="${account}">
                <div th:each="role: ${account.getRoles()}">
                    <div th:switch="${role}">
                        <a th:case="'orga'" href="/module/modulbeauftragter">Module bearbeiten</a>
                        <div th:case="'sekretariat'">
                            <a href="/module/modulbeauftragter">Module bearbeiten</a>
                            <a href="/module/administrator">Anträge</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">


    <!-- Modal, um alle Versionen eines Moduls einzusehen -->
    <div class="modal fade" id="ModalVersions" tabindex="-1" role="dialog" aria-labelledby="ModalVersionsLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="ModalVersionsLabel">Vergangene Versionen anzeigen</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion mt-3" id="accordionVersions">
                        <ul style="font-size: large; list-style-type: none">
                            <li th:each="modul, j : ${allVisibleModules}">
                                <a data-toggle="collapse"
                                   th:href="'#modul'+${modul.getId()}"
                                   aria-expanded="true"
                                   th:aria-controls="'modul'+ ${modul.getId()}">
                                <span style="color: dodgerblue"
                                      th:text="${modul.getTitelDeutsch()}">
                                    Modulname
                                </span>
                                </a>
                                <div th:id="'modul'+ ${modul.getId()}"
                                     class="collapse"
                                     data-parent="#accordionVersions">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Version</th>
                                            <th>Titel</th>
                                            <th>Antragsteller</th>
                                            <th>Datum Genehmigung</th>
                                            <th></th>
                                            <th>Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="version, i : ${allVersions.get(__${j.index}__)}">
                                            <td th:text="${(i.index+1) + '. '}"></td>
                                            <td th:text="${version.getTitelDeutsch()}"></td>
                                            <td th:text="${allAntraege.get(__${j.index}__).get(__${i.index}__).getAntragsteller()}"></td>
                                            <td th:text="${allAntraege.get(__${j.index}__).get(__${i.index}__).getDatumGenehmigung().format(formatter)}"></td>
                                            <td th:if="${version == modul}" th:text="${'(Aktuelle Version)'}"></td>
                                            <td th:unless="${version == modul}"></td>
                                            <td>
                                                <form action="#" th:action="@{'/module/modulversion'}" method="get">
                                                    <input type="hidden" name="modul" th:value="${modul.getId()}">
                                                    <input type="hidden" name="version" th:value="${i.index}">
                                                    <button type="submit" class="btn btn-primary mx-1">
                                                        Version anzeigen
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal, um die Sichtbarkeit von Modulen zu bearbeiten -->
    <div class="modal fade" id="ModalVisibility" tabindex="-1" role="dialog" aria-labelledby="ModalVisibilityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="ModalVisibilityLabel">Modulsichtbarkeit bearbeiten</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div th:each="category : ${allCategories}">
                        <p>
                            <a class="btn btn-primary"
                               style="font-weight: bold;
                               font-size: larger;
                               border:none;
                               background-color: transparent;
                               color: dodgerblue"
                               data-toggle="collapse"
                               th:href="'#modulVisibility'+ ${category}"
                               role="button"
                               aria-expanded="false"
                               th:attr="aria-controls='modulVisibility'+ ${category}">
                                <span th:text="${category.toReadable()}">Modulkategorien</span>
                            </a>
                        </p>
                        <div class="collapse" th:id="'modulVisibility'+ ${category}">
                            <div class="card card-body pt-0" style="border: none">
                                <ul style="font-size: large; list-style-type: none; display: grid; padding-left: 0">
                                    <li th:each="modul : ${allModules}" style="display: inline-table">
                                        <div th:if="${modul.getModulkategorie()} == ${category}">
                                            <form action="#" th:action="@{/module/setModulVisibility}" method="post">
                                                <input type="hidden" th:value="${modul.getId()}" id="modulToChange" name="modulToChange">

                                                <div style="display: flex">
                                                    <div class="col-3">
                                                        <span th:switch="${modul.getSichtbar()}">
                                                            <span th:case="true">
                                                                <button class="btn btn-success"
                                                                        type="submit"
                                                                        style="font-size: x-small;
                                                                        min-width: 100%;">
                                                                    <span>
                                                                        Sichtbar
                                                                    </span>
                                                                </button>
                                                            </span>
                                                            <span th:case="false">
                                                                <button class="btn btn-danger"
                                                                        type="submit"
                                                                        style="font-size: x-small;
                                                                        min-width: 100%;">
                                                                    <span>
                                                                        Unsichtbar
                                                                    </span>
                                                                </button>
                                                            </span>
                                                            <span th:case="null">
                                                                <button class="btn btn-warning"
                                                                        type="submit"
                                                                        style="font-size: x-small;
                                                                        min-width: 100%;">
                                                                    <span>
                                                                        Noch kein Status
                                                                    </span>
                                                                </button>
                                                            </span>
                                                        </span>
                                                    </div>

                                                    <div class="col-9">
                                                        <span style="color: dodgerblue"
                                                              th:text="${modul.getTitelDeutsch()}">
                                                            Modulname
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal, um Module für Semester zu aktivieren -->
    <div class="modal fade" id="ModalSemester" tabindex="-1" role="dialog" aria-labelledby="ModalSemesterLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="ModalSemesterLabel">Semestertags hinzufügen</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion mt-3" id="accordion">
                    <ul style="font-size: large; list-style-type: none">
                        <li th:each="modul : ${allVisibleModules}">
                            <a data-toggle="collapse"
                               th:href="'#modul'+${modul.getId()}"
                               aria-expanded="true"
                               th:aria-controls="'modul'+ ${modul.getId()}">
                                <span style="color: dodgerblue"
                                      th:text="${modul.getTitelDeutsch()}">
                                    Modulname
                                </span>
                            </a>
                            <div th:id="'modul'+ ${modul.getId()}"
                                 class="collapse"
                                 data-parent="#accordion">
                                <ul th:each="veranstaltungen : ${modul.getVeranstaltungen()}" style="display: flex">
                                    <li class="col-9" style="display: flex;">
                                        <span th:text="${veranstaltungen.getTitel()}">Eintrag</span>
                                        <span th:each="semesterTags : ${veranstaltungen.getSemester()}">
                                            <form style="margin-left: 2px" action="#" th:action="@{/module/semesterTag/delete}" method="post">
                                            <input type="hidden" th:value="${veranstaltungen.getId()}" id="idVeranstaltungTagDelete" name="idVeranstaltungTagDelete">
                                            <input type="hidden" th:value="${veranstaltungen.getModul().getId()}" id="idModulTagDelete" name="idModulTagDelete">
                                                <span style="width: min-content; display: flex"
                                                      class="badge badge-danger mr-2">
                                                    <span th:text="${semesterTags}">Semester</span>
                                                    <input type="hidden" th:value="${semesterTags}" name="tagToDelete" id="tagToDelete" class="form-control">
                                                    <button type="submit" style="background-color: transparent; color: white; border: none;">
                                                        <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                          <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                                                          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                                          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </form>
                                        </span>
                                    </li>
                                    <div class="col-3">
                                        <form action="#" th:action="@{/module/semesterTag/create}" method="post" style="display: flex">
                                            <div style="display:flex">
                                                <select name="inputTag"
                                                        class="form-control"
                                                        id="inputTag" required>
                                                    <option selected hidden value="">Semester hinzufügen</option>
                                                    <option th:each="semester : ${allSemesters}" th:value="${semester}" th:text="${semester}"></option>
                                                </select>
                                                <input type="hidden" th:value="${veranstaltungen.getId()}" id="idVeranstaltung" name="idVeranstaltung">
                                                <input type="hidden" th:value="${veranstaltungen.getModul().getId()}" id="idModul" name="idModul">
                                                <button class="btn btn-primary"
                                                        type="submit">
                                                    <span>+</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal, um neue Module zu erstellen -->
    <div class="modal fade" id="ModalforModul" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Neues Modul erstellen</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: black; padding: 1rem">

                    <form method='get' action='/module/modulerstellung'>
                        <div style="font-weight: bold">
                            Wie viele unabhängige Modulteile soll das Modul beinhalten?
                        </div>
                        <div>
                            Beachten Sie, dass diese Modulteile unabhängig voneinander belegt werden
                            können und eine definierte Anzahl an Leistungspunkten haben.
                        </div>
                        <div class="mt-3 mb-3">
                            <input type="number"
                                   style="float: right;
                                   border: none;
                                   border-bottom: 1px solid dimgray;
                                   border-radius: inherit;"
                                   name="veranstaltungsanzahl"
                                   class="form-control col-md-8 col-sm-8"
                                   id="veranstaltungsanzahl"
                                   value="1"
                                   min="1" required>
                        </div>
                        <div style="float: right" class="mt-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-primary">Fortfahren</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex">
        <div class="mt-3 mb-2 col-sm-12 col-md-4 col-lg-3">
            <button
                    type="button"
                    id="createNewModul"
                    class="btn btn-outline-primary"
                    style="width: inherit;"
                    data-toggle="modal"
                    data-target="#ModalforModul">
                <div class="mr-1"
                     style="background-color: dodgerblue;
                     border-radius: 20px;
                     width: fit-content;
                     height: fit-content;
                     font-size: small;
                     float: left;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: white">
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </div>
                <div>Modul hinzufügen</div>
            </button>
        </div>

        <div th:if="${account}"  class="mt-3 mb-2 col-sm-12 col-md-4 col-lg-3">
            <div th:each="role: ${account.getRoles()}">
                <div th:switch="${role}">
                    <div th:case="'sekretariat'" style="display: grid;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSemester">
                            Semesterplanung
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${account}"  class="mt-3 mb-2 col-sm-12 col-md-4 col-lg-3">
            <div th:each="role: ${account.getRoles()}">
                <div th:switch="${role}">
                    <div th:case="'sekretariat'" style="display: grid;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalVisibility">
                            Modulsichtbarkeit
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${account}"  class="mt-3 mb-2 col-sm-12 col-md-4 col-lg-3">
            <div th:each="role: ${account.getRoles()}">
                <div th:switch="${role}">
                    <div th:case="'sekretariat'" style="display: grid;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalVersions">
                            Versionenverwaltung
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <hr class="my-4" style="background-color: white">

    <h3 class="py-4">Bestehendes Modul bearbeiten:</h3>

    <div class="pl-3" th:each="category : ${allCategories}">
        <p>
            <a class="btn btn-primary"
               style="font-weight: bold;
               font-size: larger;
               border:none;
               background-color: transparent;
               color: dodgerblue"
               data-toggle="collapse"
               th:href="'#' + ${category}"
               role="button"
               aria-expanded="false"
               th:attr="aria-controls=${category}">
                <span th:text="${category.toReadable()}">Modulkategorien</span>
            </a>
        </p>
        <div class="collapse" th:id="${category}">
            <div class="card card-body pt-0" style="border: none">
                <ul style="font-size: large; list-style-type: none">
                    <li th:each="modul : ${allVisibleModules}">
                        <div th:if="${modul.getModulkategorie()} == ${category}">
                            <span style="width: min-content"
                                  class="badge badge-dark mr-2"
                                  th:text="${modul.getGesamtLeistungspunkte()}">CP</span>
                            <a th:href="@{'/module/modulbearbeitung/' + ${modul.getId()}}"
                               th:text="${modul.getTitelDeutsch()}">
                                Modulname
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</main>
</body>
</html>