<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <th:block th:fragment="headcontent">

        <!-- Links, Skripts, Styles hier einfügen! -->
        <link th:href="@{main.css}" href="../static/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            style="width: 100%;
                            border-radius: 0;
                            text-align: left;
                            background: transparent;
                            color: dimgray;
                            border: none"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Semesterauswahl
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS/SS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">SS</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li th:if="${account}">
                <div th:each="role: ${account.getRoles()}">
                    <div th:switch="${role}">
                        <a th:case="'orga'" href="/module/modulbeauftragter">Meine Module</a>
                        <a th:case="'sekretariat'" href="/module/administrator">Anträge</a>
                    </div>
                </div>
            </li>
        </ul>

    </nav>
</header>
<main th:fragment="bodycontent">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/module/">Übersicht</a></li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == PFLICHT_INFO">Pflichtmodul Informatik</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == PFLICHT_MATHE">Pflichtmodul Mathematik</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == NEBENFACH">Nebenfach</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == PRAXIS">Praxis- und Berufsorientierung</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == WAHLPFLICHT_BA">Wahlpflichtmodul (B.Sc.)</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == WAHLPFLICHT_MA">Wahlpflichtmodul (M.Sc.)</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == BACHELORARBEIT">Bachelorarbeit</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == PROJEKTARBEIT">Projektarbeit</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == MASTERARBEIT">Masterarbeit</li>
            <li class="breadcrumb-item" th:if="modul.modulkategorie == SONSTIGE">Sonstige Module</li>
            <li class="breadcrumb-item active" aria-current="page">Programmierung</li>
        </ol>
    </nav>

    <div class="card card-body">
        <p class="mt-3 ml-2" style="font-weight: bold; font-size: xx-large; color: dodgerblue" th:text="${modul.titelDeutsch}">
            Modulname
        </p>
        <hr class="my-4" style="background-color: white">
        <div>
            <div class="mt-2 col-lg-3 col-md-3 col-sm-12" style="float: left">
                <span style="font-weight: bold">Leistungspunkte:</span><br>
                <span style="width: min-content" class="badge badge-dark" th:text="${modul.getGesamtLeistungspunkte()}">CP</span>
            </div>
            <div class="mt-2 col-lg-4 col-md-4 col-sm-12" style="float: left">
                <span style="font-weight: bold; padding-left: 1rem">Modulbeauftragte:</span>
                <ul>
                    <li th:each="beauftragter : ${modul.getModulbeauftragte()}">
                        <span th:text="${beauftragter}">Prof. Dr. Stefan Harmeling</span>
                    </li>
                </ul>
            </div>
<!--            TODO: Dynamisch-->
            <div class="mt-2 col-lg-5 col-md-5 col-sm-12" style="float: right">
                <span style="font-weight: bold; padding-left: 1rem">Lehrformen:</span>
                <ul th:each="veranstaltung : ${modul.getVeranstaltungen()}">
                    <li th:each="veranstaltungsform : ${veranstaltung.getVeranstaltungsformen()}">
                        <span th:text="${veranstaltungsform}">Veranstaltungsform</span>
<!--                        TODO Semesterwochenstunden dymanisch einbinden-->
<!--                        <span style="width: min-content; float: right" class="badge badge-secondary">4 SWS</span>-->
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4" style="background-color: white">

<!--        TODO Card nur wenn mehr als eine Veranstaltung-->
        <!--  EIGENE CARD FÜR DIE EINZELNE VERANSTALTUNG-->
        <div class="card" th:each="veranstaltung : ${modul.getVeranstaltungen()}">
            <div class="card-body">
                <h5 class="card-title" th:text="${veranstaltung.getTitel()}">Veranstaltungstitel</h5>
                <div class="mt-2 pl-2">
                    <span class="card-subtitle" style="font-weight: bold">Inhalte:</span>
                    <br>
                    <div>
                        <span class="card-text" th:text="${veranstaltung.getBeschreibung().getInhalte()}">
                        Veranstaltungsinhalt
                        </span>
                        <br>
                    </div>
                </div>
                <div class="mt-3 mb-3 pl-2">
                    <span class="card-subtitle" style="font-weight: bold">Lernergebnisse/Kompetenzen:</span>
                    <br>
                    <span>
                        <span class="card-text" th:text="${veranstaltung.getBeschreibung().getLernergebnisse()}">Lernergebnisse</span>
                    </span>
                </div>
                <div class="mt-3 mb-3 pl-2">
                    <span class="card-subtitle" style="font-weight: bold">Literatur</span>
                    <br>
                    <span>
                        <span class="card-text" th:text="${veranstaltung.getBeschreibung().getLiteratur()}">Literatur</span>
                    </span>
                </div>
            </div>
        </div>


    </div>
</main>
</body>
</html>