<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Modulerstellung</title>
    <th:block th:fragment="headcontent">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>
        <script>
            // Diese Funktion öffnet das Modal, das das Formular beinhaltet
            $(document).ready(function openWhenLoadingPage(){
                    $('#formularModal').modal('show');
            });
        </script>
    </th:block>
</head>
<body th:onload="'javascript: openWhenLoadingPage()'">
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            style="width: 100%;
                            border-radius: 0;
                            text-align: left;
                            background: transparent;
                            color: dimgray;
                            border: none"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Semesterauswahl
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS/SS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">SS</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li th:if="${account}">
                <div th:each="role: ${account.getRoles()}">
                    <div th:switch="${role}">
                        <a th:case="'orga'" href="/module/modulbeauftragter">Module bearbeiten</a>
                        <a th:case="'sekretariat'" href="/module/administrator">Anträge</a>
                    </div>
                </div>
            </li>
        </ul>

    </nav>
</header>
<main th:fragment="bodycontent">

    <!-- Modal -->
    <div class="modal"
         id="formularModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="false"
         style="display: inherit;
         padding-bottom: 3rem;
         pointer-events: none;">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable"
             role="document"
             style="height: inherit;">
            <div class="modal-content" style="height: 100%;">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalCenterTitle">Modulerstellung beantragen</h3>
                </div>
                <div class="modal-body" style="padding: 0">

                    <div style="padding: 1rem; display: inline;">
                        <!-- AUSWAHL DES TITELS -->
                        <div class="mt-3 mb-3" style="display: flex;">
                            <label for="title" class="col-1">Titel</label>
                            <input type="text"
                                   style="border: none;
                                   border-bottom: 1px solid dimgray;
                                   border-radius: inherit;"
                                   name="title"
                                   class="form-control col-5"
                                   id="title"
                                   placeholder="Titel des Moduls" required>
                            <div class="ml-1 col-1">&nbsp;</div>
                            <input type="text"
                                   style="border: none;
                                   border-bottom: 1px solid dimgray;
                                   border-radius: inherit;"
                                   name="titleEnglish"
                                   class="form-control col-5"
                                   id="titleEnglish"
                                   placeholder="Englischer Titel des Moduls" required>
                        </div>




                        <!--                        TODO HIER KANN ES MEHRERE GEBEN-->
                        <!--                            <div class="mt-3 mb-3">-->
                        <!--                                <label for="organizer">Modulbeauftragter</label>-->
                        <!--                                <input type="text"-->
                        <!--                                       style="float: right; border: none; border-bottom: 1px solid dimgray; border-radius: inherit;"-->
                        <!--                                       name="organizer"-->
                        <!--                                       class="form-control col-md-8 col-sm-8"-->
                        <!--                                       id="organizer"-->
                        <!--                                       placeholder="Modulbeauftragter der Veranstaltung" required>-->
                        <!--                            </div>-->

                        <br>
                        <div style="display: inline-flex;">
                            <div class="mt-3 mb-3 col-4" style="float: left">
                                <label for="cp" class="col-md-8 col-sm-8 pl-0">Leistungspunkte</label>
                                <input type="number"
                                       style="float: right"
                                       name="cp"
                                       class="form-control col-md-4 col-sm-4"
                                       id="cp"
                                       placeholder="CP" required>
                            </div>
                            <div class="mt-3 mb-3 col-8" style="float: left">
                                <label for="modulcategory">Modulkategorie</label>
                                <select name="modulcategory"
                                        style="float: right"
                                        class="form-control col-md-8 col-sm-8"
                                        id="modulcategory" required>
                                    <option selected hidden value="">Modulkategorie Wählen</option>
                                    <option value="PFLICHT_INFO">Informatik Pflichtmodul</option>
                                    <option value="PFLICHT_MATHE">Mathematik Pflichtmodul</option>
                                    <option value="NEBENFACH">Nebenfach</option>
                                    <option value="PRAXIS">Praxis- und Berufsorientierung</option>
                                    <option value="WAHLPFLICHT_BA">Wahlpflichtbereich (B.Sc.)</option>
                                    <option value="WAHLPFLICHT_MA">Wahlpflichtbereich (M.Sc.)</option>
                                    <option value="BACHELORARBEIT">Bachelorarbeit</option>
                                    <option value="PROJEKTARBEIT">Projektarbeit</option>
                                    <option value="MASTERARBEIT">Masterarbeit</option>
                                    <option value="SONSTIGE">Sonstige</option>
                                </select>
                            </div>
                        </div>

                        <!-- TODO: add inputfields for these categories-->
                        <!--                        <p>Zugehörige Veranstaltungen</p>-->
                        <!--                        <p>Studiengang</p>-->

                    </div>
                    <br>


                    <!--  TODO: IDs und Collapsing variabel für alle Veranstaltungen -->
                    <!--  TODO: Alle Formularfelder hinzufügen -->
                    <!--  TODO: Alle Formularfelder mit Thymeleaf auslesen -->



                    <!-- VERANSTALTUNGEN WERDEN IN EINER SCHLEIFE AUFGELISTET -->
                    <div th:each="i : ${#numbers.sequence( 1, veranstaltungsanzahl)}">
                        <div class="accordion mt-3" id="accordionExample">
                            <div class="card" style="border: none; border-radius: unset; background-color: white">
                                <div class="card-header" id="headingOne" style="background-color: white">
                                    <h2 class="mb-0">
                                        <button class="btn"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#collapseOne"
                                                aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span style="font-size: medium; font-weight: bold;"
                                                  th:text="${i}+'. Veranstaltung'">
                                                Veranstaltungsnummer
                                            </span>
                                        </button>
                                    </h2>
                                </div>

                                <!-- FORMULAR FÜR EINE VERANSTALTUNG -->
                                <div id="collapseOne"
                                     class="collapse"
                                     aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body" style="background-color: lightslategrey; color: white;">

                                        <div class="mt-3 mb-3" style="display: flex;">
                                            <div class="input-group mb-3 col-4">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Veranstaltungsname"
                                                       aria-label="Username"
                                                       aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group mb-3 col-4">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="XXX"
                                                       aria-label="Recipient's username"
                                                       aria-describedby="basic-addon2">
                                            </div>

                                            <div class="input-group mb-3 col-2">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="XXXXX"
                                                       aria-label="Recipient's username">
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">With textarea</span>
                                            </div>
                                            <textarea class="form-control" aria-label="Inhalt"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="float: right; padding: 1rem;" class="mt-3">
<!--                    TODO: SUBMIT MAPPING SCHREIBEN-->
                    <button type="button" class="btn btn-secondary">
                        <a href="/module/modulbeauftragter" style="color: white; text-decoration: none;">
                            Abbrechen
                        </a>
                    </button>
                    <button type="submit" class="btn btn-primary">Modulerstellung beantragen</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>