<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Modulhandbuch', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Modulerstellung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li class="active">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            style="width: 100%;
                            border-radius: 0;
                            text-align: left;
                            background: transparent;
                            color: dimgray;
                            border: none"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Semesterauswahl
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS/SS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">WS</a>
                        <a style="background: white; color: dimgray" class="dropdown-item" href="#">SS</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/module/">Übersicht</a>
            </li>
            <li th:if="${account}">
                <div th:each="role: ${account.getRoles()}">
                    <div th:switch="${role}">
                        <a th:case="'orga'" href="/module/modulbeauftragter">Module bearbeiten</a>
                        <a th:case="'sekretariat'" href="/module/administrator">Anträge</a>
                    </div>
                </div>
            </li>
        </ul>

    </nav>
</header>

<main th:fragment="bodycontent">

    <!-- Modal for creating Modules -->
    <div class="modal fade" id="ModalforModul" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Neues Modul erstellen</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 37rem; color: black">

                    <form method='post' action='/'>

                        <!-- AUSWAHL DES TITELS -->
                        <div class="mt-3 mb-3">
                            <label for="title" class="col-2" style="float: left;">Titel</label>
                            <input type="text"
                                   style="border: none; border-bottom: 1px solid dimgray; border-radius: inherit;"
                                   name="title"
                                   class="form-control col-5"
                                   id="title"
                                   placeholder="Titel des Moduls" required>
                            <div></div>
                            <input type="text"
                                   style="float: right; border: none; border-bottom: 1px solid dimgray; border-radius: inherit;"
                                   name="titleEnglish"
                                   class="form-control col-5"
                                   id="titleEnglish"
                                   placeholder="Englischer Titel des Moduls" required>
                        </div>





<!--                        TODO HIER KANN ES MEHRERE GEBEN-->
                        <div class="mt-3 mb-3">
                            <label for="organizer">Modulbeauftragter</label>
                            <input type="text"
                                   style="float: right; border: none; border-bottom: 1px solid dimgray; border-radius: inherit;"
                                   name="organizer"
                                   class="form-control col-md-8 col-sm-8"
                                   id="organizer"
                                   placeholder="Modulbeauftragter der Veranstaltung" required>
                        </div>

                        <div class="mt-3 mb-3">
                            <label for="cp">Creditpoints</label>
                            <input type="number"
                                   style="float: right; border: none; border-bottom: 1px solid dimgray; border-radius: inherit;"
                                   name="cp"
                                   class="form-control col-md-8 col-sm-8"
                                   id="cp"
                                   placeholder="CP des Moduls" required>
                        </div>

                        <div class="mt-3 mb-3">
                            <label for="modulcategory">Modulkategorie</label>
                            <select name="modulcategory"
                                    style="float: right"
                                    class="form-control col-md-8 col-sm-8"
                                    id="modulcategory" required>
                                <option selected hidden value="">Modulkategorie Wählen</option>
                                <option value="PFLICHT_INFO">Informatik Pflichtmodul</option>
                                <option value="PFLICHT_MATHE">Mathematik Pflichtmodul</option>
                                <option value="NEBENFACH">Nebenfach</option>
                                <option value="PRAXIS">Praxis- und Berufsorientierung</option>
                                <option value="WAHLPFLICHT_BA">Wahlpflichtbereich (B.Sc.)</option>
                                <option value="WAHLPFLICHT_MA">Wahlpflichtbereich (M.Sc.)</option>
                                <option value="BACHELORARBEIT">Bachelorarbeit</option>
                                <option value="PROJEKTARBEIT">Projektarbeit</option>
                                <option value="MASTERARBEIT">Masterarbeit</option>
                                <option value="SONSTIGE">Sonstige</option>
                            </select>
                        </div>

                        <!-- TODO: add inputfields for these categories-->
<!--                        <p>Zugehörige Veranstaltungen</p>-->
<!--                        <p>Studiengang</p>-->



                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Collapsible Group Item #1
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Collapsible Group Item #2
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div style="float: right" class="mt-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-primary">Moduländerung beantragen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-3 mb-2 col-sm-12 col-md-4 col-lg-3">
        <button
                type="button"
                id="createNewModul"
                class="btn btn-outline-primary"
                style="width: inherit;"
                data-toggle="modal"
                data-target="#ModalforModul">
            <div class="mr-1"
                 style="background-color: dodgerblue;
                 border-radius: 20px;
                 width: fit-content;
                 height: fit-content;
                 font-size: small;
                 float: left;">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: white">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
            <div>Modul hinzufügen</div>
        </button>
    </div>



    <hr class="my-4" style="background-color: white">

<!--    TODO HIER AKTUELLE MODULE AUFLISTEN MIT BEARBEITEN-->
<!--    <div>HIER AKTUELLE MODULE AUFLISTEN MIT BEARBEITEN</div>-->

</main>
</body>
</html>